# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Private config file
/config.yaml
/evcc.yaml

# others
.vscode/launch.json
.vscode
*.code-workspace
# LOX-MTEC
/config/
/config.yaml
.venv/
venv/
.pytest_cache/
dist/
build/
*.egg-info/
